@model AboutVM
@{
    ViewData["Title"] = "Index";
}
<div class="container mt_30">
    <div class="row ">
        <div id="column-left" class="col-sm-4 col-lg-3 hidden-xs">
            <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                <div class="nav-responsive">
                    <div class="heading-part">
                        <h2 class="main_title">Top category</h2>
                    </div>
                    <ul class="nav  main-navigation collapse in">
                        @foreach (Category category in Model.Categories)
                        {
                            <li><a href="~/#">@category.Name</a></li>

                        }
                    </ul>
                </div>
            </div>
            <div class="left_banner left-sidebar-widget mt_30 mb_40"> <a href="~/#"><img src="~/images/@Model.About.ImageLeftSide" alt="Left Banner" class="img-responsive" /></a> </div>
        </div>
        <div class="col-sm-8 col-lg-9 mtb_20">
            <!-- about  -->
            <div class="row">
                <div class="col-md-12">
                    <figure> <img src="~/images/@Model.About.Image" alt="#"> </figure>
                </div>
                <div class="col-md-12">
                    <div class="about-text">
                        <div class="about-heading-wrap">
                            <h2 class="about-heading mb_20 mt_40 ptb_10">@Model.About.Title</span></h2>
                        </div>
                        <p>@Model.About.Desc</p>
                        <button type="button" class="btn mt_30">HIRE ME</button>
                    </div>
                </div>
            </div>
            <!-- =====  product ===== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="heading-part mb_20 mt_40">
                        <h2 class="main_title">What We Do?</h2>
                    </div>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default pull-left">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="~/#collapseOne">1. What is HTML?</a> </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>@Model.About.Html</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default pull-left">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="~/#collapseTwo">2. What is Bootstrap?</a> </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>@Model.About.Bootstrap</p>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default pull-left">
                            <div class="panel-heading">
                                <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="~/#collapseThree">3. What is CSS?</a> </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>@Model.About.Css</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="heading-part mb_20 mt_40 ">
                        <h2 class="main_title">Skills</h2>
                    </div>
                    <div id="p_line">
                        @foreach (Skills skills in Model.Skills)
                        {
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:@skills.Percent%;"> <span class="sr-only">60% Complete</span> </div>
                                <span class="progress-type">@skills.Name</span> <span class="progress-completed">@skills.Percent%</span>
                            </div>

                        }
                    </div>
                </div>
            </div>
            <!-- =====  end  ===== -->
            <!--Team Carousel -->
            <div class="heading-part mb_10">
                <h2 class="main_title mt_50">Our Creative Team</h2>
            </div>
            <div class="team_grid box">
                <div class="team3col  owl-carousel">
                    @foreach (OurTeam team in Model.OurTeams)
                    {
                        <div class="item team-detail">
                            <div class="team-item-img"><img src="~/images/@team.Image" alt=""> </div>
                            <div class="team-designation mt_20">@team.Profession</div>
                            <h4 class="team-title  mtb_10">@team.Name </h4>
                            <p>@team.Desc</p>
                            <ul class="social mt_20 mb_80">
                                <li><a href="@team.FaceBookUrl"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="@team.TwitterUrl"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="@team.BeUrl"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="@team.PinterestUrl"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="@team.Url"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>

                    }
                </div>
                <!--End Team Carousel -->
            </div>
        </div>
    </div>
</div>
