@model About
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
}



<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <img style="max-width:100%" src="~/images/@Model.Image" alt="Alternate Text" />
        </li>
    </ul>
</div>


<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title">
        <span class="alert-danger" asp-validation-for="Title"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Desc"></label>
        <input class="form-control" asp-for="@Model.Desc">
        <span class="alert-danger" asp-validation-for="@Model.Desc"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Html"></label>
        <input class="form-control" asp-for="@Model.Html">
        <span class="alert-danger" asp-validation-for="@Model.Html"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Bootstrap"></label>
        <input class="form-control" asp-for="@Model.Bootstrap">
        <span class="alert-danger" asp-validation-for="@Model.Bootstrap"></span>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Css"></label>
        <input class="form-control" asp-for="@Model.Css">
        <span class="alert-danger" asp-validation-for="@Model.Css"></span>
    </div>


    <div class="mb-3">
        <label asp-for="@Model.File"></label>
        <input class="form-control" accept="image/*" asp-for="@Model.File">
        <span class="alert-danger" asp-validation-for="@Model.File"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


