@model ProductVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
            <div class="breadcrumb ptb_20">
                <h1>Products</h1>
                <ul>
                    <li><a  asp-controller="home" asp-action="index">Home</a></li>
                    <li class="active">Products</li>
                </ul>
            </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        <div id="column-left" class="col-sm-4 col-lg-3 ">
            <div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
                <div class="nav-responsive">
                    <div class="heading-part">
                        <h2 class="main_title">Top category</h2>
                    </div>
                    <ul class="nav  main-navigation collapse in">
                        @foreach (Category category in Model.Categories)
                        {
                            <li><a href="~/#">@category.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="filter left-sidebar-widget mb_50">
                <div class="heading-part mtb_20 ">
                    <h2 class="main_title">Refinr Search</h2>
                </div>
                <div class="filter-block">
                  
                 
                    <div class="list-group">
                        <div class="list-group-item mb_10">
                            <label>Color</label>
                            <div id="filter-group1">
                                @foreach(var color in Model.Colours)
            {
                                <div class="checkbox">
                                    <label>
                                        <input value="" type="checkbox"> @color.Name  (@color.Name.Count())
                                    </label>
                                </div>

            }
                             
                            </div>
                        </div>
                        <div class="list-group-item mb_10">
                            <label>Size</label>
                            <div id="filter-group3">
                                @foreach (var size in Model.Sizes)
        {
        <div class="checkbox">
                <label>
                    <input value="" type="checkbox"> @size.Sizes (@size.Sizes.Count())
                </label>
        </div>

        }
                             

                            </div>
                        </div>
                        <button type="button" class="btn">Refine Search</button>
                    </div>
                </div>
            </div>
            <div class="left_banner left-sidebar-widget mb_50"> <a href="~/#"><img src="~/images/left1.jpg" alt="Left Banner" class="img-responsive" /></a> </div>
            <div class="left-special left-sidebar-widget mb_50">
                <div class="heading-part mb_10 ">
                    <h2 class="main_title">Top Products</h2>
                </div>
                <div id="left-special" class="owl-carousel">

                        @foreach (WatchCard watch in Model.WatchCards)
                        {
                    <ul class="row ">
                            <li class="item product-layout-left mb_20">
                                <div class="product-list col-xs-4">
                                    <div class="product-thumb">
                                        <div class="image product-imageblock"> <a href="~/product_detail_page.html"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="~/images/product/@watch.Image"> <img class="img-responsive" title="iPod Classic" alt="iPod Classic" src="~/images/product/product1-1.jpg"> </a> </div>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <div class="caption product-detail">
                                        <h6 class="product-name"><a href="~/#">@watch.Desc</a></h6>
                                        <div class="rating-block">
                                            @for (int i = 1; i <= 5; i++)
                                            {
                                                if (i <= watch.Star)
                                                {
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                                                    continue;
                                                }
                                                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
                                            }
                                        </div>
                                        <span class="price">
                                            <span class="amount"><span class="currencySymbol">$</span>@watch.Price</span>
                                        </span>
                                    </div>
                                </div>
                            </li>

                    </ul>
                        }

                </div>
            </div>
        </div>
        <div class="col-sm-8 col-lg-9 mtb_20">
            <div class="category-page-wrapper mb_30">
                <div class="list-grid-wrapper pull-left">
                    <div class="btn-group btn-list-grid">
                        <button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
                        <button type="button" id="list-view" class="btn btn-default list-view"></button>
                    </div>
                </div>
            </div>
            <div class="row">

                @foreach (WatchCard watchCard in Model.WatchCards)
                {

                    <div class="product-layout product-grid col-md-4 col-xs-6 ">
                        <div class="item">
                            <div class="product-thumb  mb_30">
                                <div class="image product-imageblock">
                                    <a asp-controller="shop" asp-action="WatchDetail" asp-route-id="@watchCard.Id"> <img data-name="product_image" src="images/product/@watchCard.Image" title="iPod Classic" class="img-responsive" /> <img src="images/product/@watchCard.HoverImage" alt="iPod Classic" title="iPod Classic" class="img-responsive" /> </a>

                                </div>
                                <div class="caption product-detail text-center">
                                    <h6 data-name="product_name" class="product-name mt_20"><a asp-controller="Product" asp-action="GetDetail" asp-route-Id="@watchCard.Id" id="product-Detail" data-toggle="modal" data-target="#quickModal" title="Casual Shirt With Ruffle Hem">@watchCard.Desc</a></h6>
                                    <div class="rating-block">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= watchCard.Star)
                                            {
                                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                                                continue;
                                            }
                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
                                        }
                                    </div>
                                    <span class="price">
                                        <a asp-controller="shop" asp-action="watchdetail" asp-route-Id="@watchCard.Id" class="btn btn-outlined--primary">
                                            <span class="plus-icon"></span>Add to Cart
                                        </a>
                                        <span class="amount"><span class="currencySymbol">$</span>@watchCard.Price</span>
                                    </span>
                                    <p class="product-desc mt_20 mb_60"> More room to move. With 80GB or 160GB of storage and up to 40 hours of battery life, the new iPod classic lets you enjoy up to 40,000 songs or up to 200 hours of video or any combination wherever you go.Cover Flow. Browse through your music collection by flipping..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="pagination-nav text-center mt_50">
                <ul>


                    @if (ViewBag.Seltectedpage !=1 )
                    {
                        <li><a asp-action="index" asp-route-page="@(ViewBag.Seltectedpage-1)"><i class="fa fa-angle-left"></i></a></li>

                    }


                    @for (int i = 1; i <= ViewBag.TotalPage; i++)
                    {

                        <li class="page-item @(i==ViewBag.Seltectedpage?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                    }
                    @if (ViewBag.Seltectedpage < ViewBag.TotalPage)
                    {
                        <li><a asp-action="index" asp-route-page="@(ViewBag.Seltectedpage+1)"><i class="fa fa-angle-right"></i></a></li>

                    }

                </ul>
            </div>
        </div>
    </div>
    <div id="brand_carouse" class="ptb_30 text-center">
        <div class="type-01">
            <div class="heading-part mb_10 ">
                <h2 class="main_title">Brand Logo</h2>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="brand owl-carousel ptb_20">


                        @foreach (BrandLogo brandLogo in Model.BrandLogos)
                        {

                            <div class="item text-center"> <a href="#"><img src="~/images/brand/@brandLogo.Image" alt="Dell" class="img-responsive" /></a> </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>